.top-nav {
    background: rgba(196, 194, 194, 0.213);
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid grey;
}

.navigation {
    display: flex;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1100px;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: 22px;
    text-decoration: none;
}

.link {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    height: 100%;
    cursor: pointer
}

.link-active {
    color: #5236ab;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    height: 100%;
    cursor: pointer
}