.Search-btn {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: flex-end;
}

.button-div {
    margin-left: 2px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 30%;
}